<label for="{{id}}">
  {{label}}
</label>
<input type="{{type}}" {{(defaultValue) ? 'value="' ~ defaultValue ~ '"'}} {{listener ? 'class="js-listen-to-' ~ listener ~'"'}} id="{{id ~ '-' ~ theme.name}}" data-input="{{id}}">
